
@{
    ViewBag.Title = "Checkout";
}

<h2>Order Details : </h2>
<div>
    <p>Size : @ViewData["size"] </p>
    <p>Color : @ViewData["color"] </p>
    <p>Total Quantity : @ViewData["qty"] </p>
    <p>Total Cost : @ViewData["totalcost"] </p>
</div>
<div>Thank you for purchasing with us!</div>

